In [1]:
import pandas as pd
import streamlit as st
import plotly.express as ple

In [9]:
df = pd.read_csv('C:/Users/Dr_Na/Git_Repositories/Practicum_Project/vehicles_us.csv')
display(df.head(10))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17

In [17]:
avg_price = int(df['price'].mean())
median_price = int(df['price'].median())
print (f'The average price of cars is : ${avg_price}')
print (f'The median price of cars is: ${median_price}')

The average price of cars is : $12132
The median price of cars is: $9000

In [19]:
avg_days_listed = int(df['days_listed'].mean())
print (f'The average number of days a car is listed: {avg_days_listed}')

The average number of days a car is listed: 39

In [29]:
median_year = int(df['model_year'].median())
print(f'The most common model of car is from: {median_year}')

The most common model of car is from: 2011

In [46]:
excellent_list = []
fair_list = []
good_list = []
like_new_list =[]
new_list = []
salvage_list = []

for index in range(len(df)):
    if df['condition'][index] == 'excellent':
        excellent_list.append(df['condition'][index])
    if df['condition'][index] == 'fair':
        fair_list.append(df['condition'][index])
    if df['condition'][index] == 'good':
        good_list.append(df['condition'][index])
    if df['condition'][index] == 'like new':
        like_new_list.append(df['condition'][index])
    if df['condition'][index] == 'new':
        new_list.append(df['condition'][index])    
    if df['condition'][index] == 'salvage':
        salvage_list.append(df['condition'][index])    
        
print(f'The total number of cars in excellent condition is: {len(excellent_list)}')
print(f'fair condition: {len(fair_list)}')
print(f'good condition: {len(good_list)}')
print(f'like_new condition: {len(like_new_list)}')
print(f'new condition: {len(new_list)}')
print(f'salvage condition: {len(salvage_list)}')

The total number of cars in excellent condition is: 24773
fair condition: 1607
good condition: 20145
like_new condition: 4742
new condition: 143
salvage condition: 115